#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  /* width: 40px;
  height: 40px; */
  border: black 1px solid;
  /* border-radius: 20%; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
